# Core functionality - changes here should be rare!
/src/app.py                   @AlexLessus
/src/backend/database.py      @AlexLessus
/src/backend/routers/auth.py  @AlexLessus

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AlexLessus
